<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <div class="container mt-4">
            <h2>Project page</h2>
            <div id="app" class="container mt-4"></div>
            <%- include('../partials/scripts.ejs')%>
        </div>
</body>

</html>

